.App {
  text-align: center;
 
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dark-mode{
  color: white; 
  background-color: black;
}

.player-container{
  display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.player-card{
  border:2px solid rgb(128, 127, 127);
  border-radius: 10rem;
  box-shadow: 12px 12px 3px 1px rgba(115, 21, 158, 0.479);
  width:25%;
  margin:1% 0%;
}

.button{
  background-color: rgb(206, 206, 206);
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
 
  font-size: 16px;
  border-radius: 10rem;
  margin-top:1%;
}

.players{
  font-size:3.6rem;
  letter-spacing: 0.6rem;
  font-style: italic;
  text-decoration: underline;
 
 
}



